# FOLDERS ======================================================================

/.changeset
.github/
.husky/
.vscode/
dist/
docs/
examples/
ignore/
node_modules/
# scripts/
# src/
tests/

# FILES ========================================================================

.editorconfig
.eslintignore
.eslintrc
.gitignore
.lintstagedrc
.npmignore
.prettierignore
.prettierrc
.commitlintrc
LICENSE
package.json
README.md
release.config.js
rollup.config.js
tsconfig.json

package-lock.json
yarn-lock.json
pnpm-lock.yaml

CHANGELOG.md
CONTRIBUTING.md
