# FOLDERS ###############################
/.github
/.husky
/node_modules
/src
/tests

# FILES #################################

package-lock.json
yarn-lock.json
pnpm-lock.yaml

.commitlintrc
.czrc
.editorconfig
.eslintignore
.eslintrc
.gitignore
.npmignore
.prettierignore
.prettierrc
.releaserc
LICENSE
CHANGELOG.md
tsconfig.json
