# FOLDERS ======================================================================

.github/
.husky/
.vscode/
dist/
docs/
# examples/
ignore/
node_modules/
# scripts/
# src/
# tests/

# FILES ========================================================================

.czrc
.editorconfig
.eslintignore
.eslintrc
.gitignore
.lintstagedrc
.npmignore
.prettierignore
.prettierrc
commitlint.config.js
LICENSE
package.json
README.md
release.config.js
rollup.config.js
tsconfig.json

package-lock.json
yarn-lock.json
pnpm-lock.yaml
